* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body {
    background: url(./img/star.jpg) no-repeat center center;
}

.wrapper {
    background:rgba(255, 255, 255, 0.2);
    border-radius: 6px;

}
.wrapper > .row {
    margin: 23px;
}

kbd {
    text-transform: uppercase;
    position: relative;
    border: 1px solid #747474;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 4px 0 0 #080808;
    height: 40px;
    width: 50px;
    font-family: Helvetica;
    font-size: 16px;
    color: white;
    background-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

kbd>button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover>button {
    display: inline-block;
}

main {
    text-align: center;
}

#mainXX {
    display: inline-block;
}

#mainXX>div:nth-child(2) {
    margin-left: -8px;
}

#mainXX>div:nth-child(3) {
    margin-left: -78px;
}
