* { margin: 0;padding: 0;}
a {text-decoration: none;}

body {
    background: grey url(./img/star.jpg) no-repeat center center;
}

main {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}
#main {
    display: inline-block
}
#main>div:nth-child(2) {
    margin-left: -8px;
}
#main>div:nth-child(3) {
    margin-left: -78px;
}

.wrapper>.row {
    margin: 22px;
}
.wrapper>.row>.key {
    text-transform: uppercase;
    position: relative;
    border: 1px solid #373737;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 4px 0 0 #080808;
    height: 40px;
    width: 50px;
    font-family: Helvetica;
    font-size: 16px;
    color: #c5c5c5;
    background-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background: linear-gradient(to bottom, #292929 0%, #111111 100%);
    position: relative;
}
.wrapper>.row>.key>.text {
    position: absolute;
    left: 4px;
    top: 2px;
}
.wrapper>.row>.key>img {
    height: 14px;
    width: 14px;
    position: absolute;
    left: 4px;
    bottom: 2px;
}
.wrapper>.row>.key>button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover>button {
    display: inline-block;
}
